<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://cdn.jsdelivr.net/momentjs/2.13.0/moment.min.js"></script>
    <body>
        <center>
            <form action="" method="post">
            <h1>Created by Kader93t</h1>
            <label for="mac"> Your mac address </label>
            <input name="mac" type="text" value="" placeholder="ff:ff:ff:ff:ff:ff">
            <button id="getKey">Generate Key </button>
            </form>
           
            <div></div>
        </center>
        <script src="js/main.js" type="module"></script>
    </body>
</head>
<body>
</body>
</html>